<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title> Mock Project, True Facts </title>
        </head>
        <body>
            <h1>true facts Mock Project</h1>
            <ul>
                {{#each facts}}
                <li>{{text}}</li>
                {{/each}}
            </ul>
        </body>
</html>